@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-car {
    position: relative;
    z-index: 3;
}
.hero-image{
    position: relative;
    right: -160px;
    transform: scale(1.5);
}
.bg-shape {
    position: absolute;
    z-index: -1; 
    opacity: 0.2;
   
}


.shape-1 {
    top: 0px;
    right:0;
    width: 280px;
    height: 110px;
}

.shape-2 {
    top: 20px;
    bottom: 0;
    left: 120px;
    width: 100px;
    height: 300px;
}

.shape-3 {
    top: 30px;
    right: 180px;
    width: 130px;
    height: 300px;
}

.shape-4 {
    bottom: -50px;
    right: 0;
    width: 280px;
    height: 110px;
}
.hero-right-image-vector{
    position: absolute;
    top: 150px;
    left: 200px;
    z-index: 2;
    width: 100px;
    height: auto;
}
.header-section{
    margin-bottom: 25px;
}
.hero-below-section .hero-item .hero-icon img{
    width: 50px;
    height: 50px;
    
}
.hero-below-section .hero-btn{
    font-size: 20px;
    font-weight: 600;
}
.section-title{
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
    background-color: #deebf9;
    color:#2a78ca ;
    width: auto;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}
.how-it-works .section-title,
.popular-cars .section-title{
    width: 200px;
}
.section-para{
    font-size: 28px;
    font-weight: 600;
    color: #555555;
    text-align: center;
    margin-top: 15px;
}
.why-choose-image{
    margin-top: 50px;
    
}
.why-choose-vector{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    width: 550px;
    height: auto;
}
.right-point-section{
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
}
.left-point-section {
    padding-right: 30px;
}

.right-points-section {
    padding-left: 40px;
}
.left-point-section {
    overflow: visible;
}

.why-choose-image,
.why-choose-vector {
    max-width: 100%;
}
.popular-heading{
    margin-top: 150px;
}
.card{
    padding: 10px;
}
.card-image img{
    width: 100%;
    height: auto;
}
.card-title h5{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.card-title p{
    font-size: 10px;
    color: #777777;
}
.card-details span{
    font-size: 10px;
    font-weight: 500;
}
.card-price p{
    font-size: 8px;
    font-weight: 600;
}
.card-price .btn-primary{
    width: 100%;
}
.Testimonial{
   
}
.Testimonial .section-title{
    width: 200px;
}
.Testimonial-bacground-left{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 300px;
    height: auto;
}
.Testimonial-background-right{
    position: absolute;
    top: 0;
    right: 10px;
    z-index: -1;
    width: 300px;
    height: auto;
}
.Testimonial .card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.downlaod-app .right-section{
    width: 80%;
    height: auto;
    margin-left: auto;;
}
.download-app button{
    margin-right: 10px;
    background-color: #deebf9;
    color:#2a78ca ;
    border: none;
}
.downlaod-app .right-section h2{
    font-size: 38px;
    margin-top: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.right-section .vector {
    position: absolute;
    top: -50px;
    left:  0;
    z-index: -1;
    width: 100%;
    max-width: 400px; /* keeps it responsive */
    height: auto;
}

